/* Keep footer at bottom of page
------------------------------------------------------------------------------*/
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#body {
	padding-bottom: 120px;	/* Height of the footer */
}

#container {
	min-height: 100%;
	position: relative;
}

#footer {
	bottom: 0;
	height: 120px;			/* Height of the footer */
	position: absolute;
	width: 100%;
}