<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/application.css" media="screen">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>

  <body class="{{ page.keyword }}">

    <section id="container">
      {{ content }}
    </section>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/javascripts/application.js"></script>
  </body>
</html>

